body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    height: 5px;
    width: 35px;
    background-color: #333;
    margin: 6px 0;
    display: block;
    transition: 0.4s;
}
.div video1 {
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(60, 255, 0, 0.63);
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar li.contact {
    margin-left: 27cm;
}

.content {
    margin-top: 60px; 
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
        align-items: center;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        z-index: 1;
        overflow-x: hidden;
        padding-top: 20px;
        transition: 0.5s;
    }

    .navbar.show {
        top: 0;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        display: none;
    }

    .navbar ul.show {
        display: flex;
    }

    .navbar li {
        margin: 10px 0;
    }

    .menu-toggle span {
        width: 25px;
    }
}
